body {
  font-family: Arial, Gadget, sans-serif;
  font-size: 14px;
}

#background {
  background: #8faac6;
  padding: 32px;
  text-align: center;
}


#header {
  background: #ba1414;
  color: white;
  padding: 12px;
  font-size: 26px;
  border-radius: 4px;
  text-align: center;
}

#hoverphoto {
  height: 300px;
  width: 400px;
  vertical-align: middle;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 12px 0px rgba(138,138,138,1);
  -moz-box-shadow: 4px 4px 12px 0px rgba(138,138,138,1);
  box-shadow: 4px 4px 12px 0px rgba(138,138,138,1);
}

.revealbutton {
  padding: 6px;
  font-size: 14px;
  color: #d11717;
  background: grey;
}
